  <section id="mu-slider">
    <!-- Start single slider item -->
    <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
          <img src="assets/img/slider/1.jpg" alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <h2>Bringing Corporate to Classroom</h2>
        <p style="background-color:#fff;">We facilitate corporate training sessions at management and commerce colleges</p>
        
      </div>
    </div>
    <!-- Start single slider item -->
    <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
          <img src="assets/img/slider/2.jpg" alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <h2>Trainers with exceptional Qualifications</h2>
        <p style="background-color:#fff;">Our trainers are top corporate executives and alumni of IIMs, Symbiosis, FMS, IMT & more...</p>
        
      </div>
    </div>
    <!-- Start single slider item -->
    <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
          <img src="assets/img/slider/3.jpg" alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <h2>Canteen to Cabin Campaign (C³)</h2>
        <p style="background-color:#fff;">Training modules are prepared after in-depth analysis along with corporates considering emerging requirements</p>
        <p><a href="/update.php" style="z-index:9999;"><button style="font-size:18px;padding:12px;" class="btn btn-info btn-flat"> Explore Canteen to Cabin</button></a></p>
      </div>
    </div>
    <!-- Start single slider item -->    
  </section>