  <section id="mu-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-about-us-area">           
            <div class="row">
              <div class="col-lg-6 col-md-6" style="z-index:99;">
                <div class="mu-about-us-left">
                  <!-- Start Title -->
                  <div class="mu-title">
                    <h4>How can you connect with us</h4>              
                  </div>
                  <!-- End Title -->
                  <h4>For Institutes</h4>
                  <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Institutes can contact us for conducting specific training programs; can work with us on development of customized training modules</p>
                  <a href="institute.php" class="mu-read-more-btn pull-right" style="background-color:rgba(11, 183, 240, 0.8);">Register</a>
                  </br>
                  <h4>For Students</h4>
                  <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Students can join us to update themselves on emerging corporate trends, apply for internships, projects & training sessions</p>
                  <a href="fb-auth.php?ut=student" class="mu-read-more-btn pull-right" style="background-color:rgba(11, 183, 240, 0.8);">Register</a>
</br>
                  <h4>For Trainers</h4>
                  <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If you have a corporate profile, Join us as a trainer! Utilize your free time to train budding talents. Find right talent for projects & internships. Get paid for everything you contribute.  
</p>
                  <a href="fb-auth.php?ut=mentor" class="mu-read-more-btn pull-right" style="background-color:rgba(11, 183, 240, 0.8);">Register</a>
                  </div>
              </div>

              <div class="col-lg-6 col-md-6" align="center" class="embed-responsive embed-responsive-16by9">
               <h4>How it works</h4>
    <!--<video autoplay loop class="embed-responsive-item" style="width:100%; height:500px;">
        <source src="questfour.wmv" type="video/wmv">
    </video>-->


<iframe width="100%" height="300" allowfullscreen="allowfullscreen"
src="https://www.youtube.com/embed/sxGi954BzGk?playlist=sxGi954BzGk&loop=1">
</iframe>



</div>
<!-- 
              <div class="col-lg-3 col-md-3">
               <h4>Testimonial & Updates</h4>
                <div class="">
                  <div class="update-block">
                  <div class="update-inner">
                    <div class="update-list">
                      <?php  /*
              $rsNE=mysqli_query($con, "select * from news_events");
              if( mysqli_num_rows($rsNE) > 0){
              while($rowNE=mysqli_fetch_array($rsNE))
              {
            ?>
                        <marquee behavior="scroll" direction="up" scrollamount="2"><li><a href="#"><?php echo $rowNE['sTitle'];?></a></li></marquee>
                       <?php }}*/?>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>