  <section id="mu-menu">
    <nav class="navbar navbar-default" role="navigation" style="height:108px;">  
      <div class="container" style="height:100px;">
        <div class="navbar-header">
          <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- LOGO -->              
          <!-- TEXT BASED LOGO -->
          <!-- <a class="navbar-brand" href="index.html"><i class="fa fa-university"></i><span>Varsity</span></a> -->
          <!-- IMG BASED LOGO  -->
          <a class="navbar-brand" href="/index.php"><img src="assets/img/logo.png" alt="logo"></a>
        </div>
        <div class="cantnbtn"><a href="/update.php"<button class="btn btn-default" style="color:#11c0fa;"><i class="fa fa-contao"></i> Canteen To Cabin</button></a></div>
         <div id="navbar" class="navbar-collapse collapse" style="position:relative; height:100px;top:-35px;">
          <ul id="top-menu" class="nav navbar-nav navbar-right main-nav" style="height:px;">
      <?php include($_SERVER['DOCUMENT_ROOT']."/menu/menu.php");?>
          </ul>                     
        </div> 
        <!--/.nav-collapse -->        
      </div>     
    </nav>
  </section>