
  <section id="mu-features" style="padding:0 0px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
        <div class="mu-features-area" align="left">
                <div  style="border: 0.5px solid #C2C2C2;"></div></br>
            <!-- Start features content -->
            <div class="mu-features-content">
                <div class="row">
                <div class="col-lg-4 col-md-4  col-sm-6">
                  <div class="mu-single-feature">
                    <span class="fa fa-industry"></span>
                    <h4>Corporate - Student Interface</h4>
                    <p>We have created an interface where budding professionals(students) can connect to their future selves and learn to adapt to the dynamic & everchanging corporate environment. There was a need to provide a platform to the students where they can put forward casual queries and learn from those who are already in the corporate environment. We have enabled this through training sessions, corporate interactions, workshops. panel discussions, guest lectures ad much more at the institutes. 

</p><!--<a href="#">Read More</a>-->
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="mu-single-feature">
                    <span class="fa fa-users"></span>
                    <h4>No Useless Trainings</h4>
                    <p>It is not like these kinds of sessions are not already happening.But the existing corporate training scenario at institutes suffers from a major drawback. Most of these training sessions are done as manadatory requirements and thus their relavance to the corporate world is never verified. As a result, most of the sessions turn out to be redundant for the students when they step out in the corporate world. We have made sure that we keep on updating our modules through regular discussions with the corporate executives. No use less training modules will be pitched. As they say, "wahi hoga jo manzoore corporate hoga"

</p>
                    <!--<a href="#">Read More</a>-->
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="mu-single-feature">
                    <span class="fa fa-laptop"></span>
                    <h4>Corporate Trends Developed into Training Modules</h4>
                    <p>How are our Training Modules developed?<br><br>

Our research & development team consists of academicians as well as corporate executives who keep on interacting & debating on the upcoming trends and emerging requirements in the corporates. They continuously update the set of specific skills that corporates desire in a fresher. 

</p>
                    <!--<a href="#">Read More</a>-->
                  </div>
                </div>
                </div>
                <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="mu-single-feature">
                    <span class="fa fa-file-text"></span>
                    <h4>We Understand Affordability</h4>
                    <p>We understand that we are dealing with students who are yet to step out in the corporate world and thus anything that is offered to them should be light on their pockets. Our whole value chain revolve around increasing affordability of such trainings for the students. We ensure the supply of best training experts at relatively low cost.  

</p>
                    <!--<a href="#">Read More</a>-->
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="mu-single-feature">
                    <span class="fa fa-film"></span>
                    <h4>Casual Networking with Corporate Executives</h4>
                    <p>When asked about the most important skill that is required to grow in corporates, most of the corporate wizards have agreed on networking. Networking, if done rightly, can take one to desired heights in the industry. This is why, apart from formal training sessions & workshops, we also facilitate casual networking sessions where students can connect with corporate managers through panel discussions, group discussions, debates, etc. 

</p>
                    <!--<a href="#">Read More</a>-->
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="mu-single-feature">
                    <span class="fa fa-institution"></span>
                    <h4>Pre & Post Training Support</h4>
                    <p>Once we associate with an institute for any of our services (trainings, workshops, panel discussions, etc.) , we are committed to providing full support to the students as well as the institute both pre  & post sessions. We also set up time and sit with individual professors to develop customized training modules on various subjects.

</p>
                    <!--<a href="#">Read More</a>-->
                  </div>
                </div>
              </div>
            </div>
            <!-- End features content -->
             
          </div>
        </div>
      </div>
    </div>
  </section>