  <section id="mu-from-blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-from-blog-area">
            <!-- start title -->
            <div class="mu-title">
              <h2>From Blog</h2>
              <p>Why Companies should Recruit more from Colleges like ISB, MDI, IMT, SP Jain & NMIMS than IIMs, FMS or JBIMS!!</p>
            </div>
            <!-- end title -->  
            <!-- start from blog content   -->
            <div class="mu-from-blog-content">
              <div class="row">
                <div class="col-md-4 col-sm-4">
                  <article class="mu-blog-single-item">
                    <figure class="mu-blog-single-img">
                      <a href="#"><img src="assets/img/blog/blog-1.jpg" alt="img"></a>
                      <figcaption class="mu-blog-caption">
                        <h3><a href="http://satyamquest.blogspot.in/2015_10_01_archive.html">Coaching Centers - Increasing Business, Decreasing Respect!!</a></h3>
                      </figcaption>                      
                    </figure>
                    <div class="mu-blog-meta">
                      <a href="#">By Quest</a>
                      <a href="#">Thursday, 8 October 2015</a>
                      
                    </div>
                    <div class="mu-blog-description">
                      <p>Unlike most of the times, when the idea behind blogging is to share my views with others on a particular issue, this time, purpose of the article is different. When I sit today to write, the prime idea is to confess. A confession for being a part of a group that has forgotten its purpose & is blindly working towards self gains without considering the adverse impact on the society. A confession for allowing myself to get deviated from the basic idea behind my initiative & a confession for being a part of the blind race.</p>
                      <!--<a class="mu-read-more-btn" href="#">Read More</a>-->
                    </div>
                  </article>
                </div>
                <div class="col-md-4 col-sm-4">
                  <article class="mu-blog-single-item">
                    <figure class="mu-blog-single-img">
                      <a href="#"><img src="assets/img/blog/blog-2.jpg" alt="img"></a>
                      <figcaption class="mu-blog-caption">
                        <h3><a href="http://satyamquest.blogspot.in/2015_09_01_archive.html" target="blank">95% & still confused!! The disappointing tale of Indian School Education</a></h3>
                      </figcaption>                      
                    </figure>
                    <div class="mu-blog-meta">
                      <a href="#">By Quest</a>
                      <a href="#">Saturday, 19 September 2015</a>
                    </div>
                    <div class="mu-blog-description">
                      <p>It is not the first time somebody is putting allegations on the Indian Education system. There have been multiple discussions on how Indian Schools focus on memorization instead of conceptual learning or how there is a lack of skill development in the regular curriculum.  But that is not what concerns me today. I am worried about the students who have that extra-ordinary capability, that rare intellect and can prove to be key resources for the country, but are stuck somewhere between extra ordinary marks & ordinary careers... </p>
                      <!--<a class="mu-read-more-btn" href="#">Read More</a>-->
                    </div>
                  </article>
                </div>
                <div class="col-md-4 col-sm-4">
                  <article class="mu-blog-single-item">
                    <figure class="mu-blog-single-img">
                      <a href="#"><img src="assets/img/blog/blog-3.jpg" alt="img"></a>
                      <figcaption class="mu-blog-caption">
                        <h3><a href="http://satyamquest.blogspot.in/2015_08_01_archive.html">Why Almost all Advertisements are featuring young kids these days!!</a></h3>
                      </figcaption>                      
                    </figure>
                    <div class="mu-blog-meta">
                      <a href="#">By Quest</a>
                      <a href="#">Saturday, 15 August 2015</a>
                    </div>
                    <div class="mu-blog-description">
                      <p>"Mom!!, How did that kid of my age get a chance to come on TV &  share a Dairy Milk with Amitabh Bachhan" asked my little niece from my aunt. The question was straight & simple. But it hit my mind on so many levels. I was forced to think. Be it the latest ads in the FMCG industry, online shopping industry or electronic brands, appearance of young kids in them is almost a norm now. Is it just a normal trend or is there a well thought process behind. Those who have worked (especially in Marketing) for these companies know that...</p>
                      <!--<a class="mu-read-more-btn" href="#">Read More</a>-->
                    </div>
                  </article>
                </div>
              </div>
            </div>     
            <!-- end from blog content   -->   
          </div>
        </div>
      </div>
    </div>
  </section>