<div class="panel-body" align="left">
                            <div class="panel-footer" style="height:490; background-color:#FFF">
                            <h3> Welcome!!</h3><br>
                            <p><b>Web Bridge</b> is a system, based on CMS. You can able to customize not just all pages, creating pages and links to some designing style in the pages would be under in your hand. In<b> Web Bridge </b>system data contenting flexibility is give you freedom to update any kind of file type, mostly where you need. You don't need to go anywhere to update with priceless time. You can create update anytime with just some few clicks.</p>
                            <br>
                            <h3>Instruction with ADD MENU</h3><br>
                            <p>Go to the ADD MENU, there is the way you can create a new menu as link for new pages. Although you can able to create sub menu how many as per you need, under the main menu.</p>
                            <br>
                            <h3>Instruction with ADD LINK</h3><br>
                            <p>Go to the MENU the site have, there is the way you can create a new link for new pages, how many as per you need, under the every menu.( if that menu link is not nill )</p><br>
                           <b>Create main menu &amp; sub menu &amp; sub menu under 'sub menu'</b>
                           <p>Go to the ADD MENU option from left below, then put the main menu name under the top ‘Create New Main Menu As Per New Page’ input box, it will visible in your web site as main menu. </p><br>
                           <p>Every main menu Carrey a + option to create under itself a sub menu. When you create a sub menu the main menu link will be null.Every sub menu Carrey a + option to create under itself a sub menu. When you create a sub menu the sub menu under main menu, link will be null.
Every menus have activate and deactivate option to visible or hide in web site, but it will be deleted,  
</p><br>
                           
                            <h3>Updating Data</h3><br>
                            <p>After create a new page by option add menu, there will shown created page link in left side under the add menu link. Which will be use add, edit, delete data inside the pages.</p>
                            <br>
                            <p>Go to the in side and there is following first 1 options. ADD new, ADD cover Photo, and added data List.
ADD new which is help to add individually data like, Heading with font style that you want, body text, photo, and pdf.
</p>
                            </div>
                            </div>